@font-face {
    font-family: Spac3Tech;
    src: url("/../../assets/styles/Spac3Tech.ttf");
    }

.ContactCard {
    text-align: left;
    margin-top: 15px;
    margin-left: 5px;
    padding-left: 10px;
    position: absolute !important;
    left: 600px !important;
    background: white;
    width: 50%;
    padding-bottom: 20px;
}

.submitBtn {
    background: #047AFB;
    border: none;
    height: 50px;
}

#name {
    width: 25%;
}

#email {
    width: 25%;
}

#message {
    width: 50%;
    height: 250px;
}
