@font-face {
    font-family: Spac3Tech;
    src: url("/../../assets/styles/Spac3Tech.ttf");
    }

.BlogCard {
    text-align: left;
    margin-top: 15px;
    margin-left: 5px;
    padding-left: 10px;
    position: absolute !important;
    left: 600px !important;
    background: white;
    width: 50%;
    padding-bottom: 15px;
}

.blogIntro {
    text-align: center;
}

.blogHR {
    width: 25%;
    background: black;
    height: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blogContent{
    padding-bottom: 25px;
}

.blogTitle {
    text-align: center;
}

.blogP {
    font-size: 1.25em;
}

.blogBanner{
    position: relative;
    background: lightslategray;
    width: 90%;
    /* text-align: center; */
}

.blogPic {
    position: relative;
    float: left;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    
}
