@font-face {
    font-family: Spac3Tech;
    src: url("/../../assets/styles/Spac3Tech.ttf");
    }

.display-4 {
    font-family: Spac3Tech;
}

.card-img-top {
    
}

.btn{
    margin-left: 70px;
    margin-top: 5px;
    width: 100px !important;
}

.main-card {
    width: 18rem;
    position: absolute !important;
    left: 300px !important;
    float: left;

}

.social {
    margin-left: 62px;
}

#fb {
    width: 32px;
    padding-right: 5px;
}

#linkedIn {
    width: 55px;
}

#gitHub {

}